.infoBox{
    box-shadow: 0px 0px 6px rgba(0 0 0 / 30%);
    border-radius: 0px 20px 20px 20px;
}

.infoBox>img{
    display: none;
}

.infoBoxMap-container{
    background-color: white; 
    padding: 12;
    border-radius: 0px 20px 20px 20px;
}

.infoBoxMap-label{
    padding: 10px 10px 0px 10px;
    font-size: 16;
    color: #08233B;
}

.infoBoxMap-img img{
    padding: 10px;
    width: 150px;
    height: 100px;
    border-radius: 0px 20px 20px 20px;
}

.infoBoxMap-label p{
    padding:0px !important
}