.booking-card-container {
    display: flex;
    background-color: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.387);
    width: 32%;
    padding: 10px;
    border-radius: 7px;
    flex-direction: column;
    font-weight: 300;
    font-size: 19px;
    margin: 15px 5px;
    transition: all 0.2s;
}
.booking-card-container:hover{
    transform: scale(1.01);
    transition: all 0.2s;
}

.userbookings-super-container .booking-card-container h2, .userbookings-super-container .booking-card-container h3{
    font-weight: 300;
    margin: 5px 0px;
}
.booking-card-container-item{
    display: flex;
}
.booking-card-hotel-button{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 15px 0px 0px;
    padding: 2px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}
.booking-card-hotel-button:hover{
    background-color: rgba(0, 0, 0, 0.094);

}
.booking-card-container-item .container-item-desc-type {
    width: 31%;
}
.booking-card-spacer{
    margin: 10px 0px;
}

@media only screen and (max-width: 810px) {
    .booking-card-container{
        width: 48%;
        margin: 5px 2px;
    }
}
@media only screen and (max-width: 428px) {
    .booking-card-container{
        width: 100%;
        margin: 10px 2px;
    }
}