.active {
    opacity: 1;
    transform: scale(1);
}

.product-close-carousel {
    display: none;
}

.carousel-wrapper {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 236px;
    border-radius: 1px;
    box-shadow: none;
}

.carousel-images-container {
    display: flex;
    position: relative;
    height: 236px;
    overflow: hidden;
}

.carousel-thumbnails-container {
    display: none;
}

.carousel-index-container {
    position: absolute;
    bottom: 1px;
    right: 1px;
    padding: 0px 5px;
    background-color: rgba(255, 255, 255, 0);

}

.carousel-index {
    color: white;
}

.carousel-img {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
    opacity: 0;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1rem;
    flex-grow: 1;
    outline: none;
    transition: all 0.1s ease-out;
    margin: 0;
}

.carousel-button {
    display: none;
}

.prev {
    top: 26.5%;
    left: 1px;
}

.next {
    top: 26.5%;
    right: 1px;
}

.carousel-controls-icon {
    text-align: center;
    padding: 6px 10px;
    background-color: var(--naranja);
    border-radius: 50px;
}

.carousel-controls-icon:hover {
    transition: all 0.1s;
    transform: scale(1.2);

}

.hide {
    display: flex;
}

.active {
    opacity: 1;
    transform: scale(1);
}

.carousel-thumbnail {
    width: 148px;
    height: 91px;
    margin: 0px 3px 0px 3px;
    border-radius: 20px;
    cursor: pointer;
}

.carousel-thumbnail:hover {
    border: 4px;
    border-color: #f0572d77;
    border-style: solid;
    transform: scale(1.1);
    transition: all 0.1s ease-out;
}

.thumbnail-non-active {
    transform: scale(1);
    transition: all 0.8s ease-out;
}

.thumbnail-active {
    border: 5px;
    border-color: #f0572d77;
    border-style: solid;

}

.product-close-carousel {
    position: absolute;
    color: white;
    top: 1px;
    right: 1px;
    padding: 15px;
    cursor: pointer;
    text-shadow: black 1px 1px 7px;
    z-index: 3;
    font-size: 20px;
}

.product-close-carousel:hover {
    transform: scale(1.05);
    transition: all 0.2s;
}

@media screen and (min-width: 768px) {
    .product-close-carousel {
        display: none;
    }

    .carousel-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 400px;
        border-radius: 1px;
        box-shadow: none;
    }

    .hide {
        display: flex;
    }

    .carousel-thumbnails-container {
        display: none;
    }

    .carousel-index-container {
        position: absolute;
        bottom: 1px;
        right: 1px;
        padding: 0px 10px;
        background-color: rgba(255, 255, 255, 0);

    }

    .carousel-images-container {
        height: 400px;
    }

    .carousel-img {
        height: 400px;
    }

    .carousel-button {
        display: none;
    }
}


@media only screen and (min-width: 1366px) {
    .carousel-wrapper {
        position: absolute;
        border-radius: 15px;
        box-shadow: 0 1rem 2rem rgba(128, 0, 128, 0.2);
        overflow: hidden;
        height: 450px;
        width: 638px;
        z-index: 2;
        background-color: white;
        box-shadow: 13px 13px 10px rgba(0, 0, 0, 0.311);
        left: calc(50% - 319px);
    }

    .carousel-images-container {
        display: flex;
        position: relative;
        height: 323px;
        overflow: hidden;
    }

    .carousel-index-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        background-color: white;
    }

    .carousel-index {
        color: black;
    }

    .carousel-img {
        margin: 0;
        position: absolute;
        width: 100%;
        height: 350px;
        transform: scale(1.1);
        transition: all .15s ease-out;
        object-fit: cover;
    }

    .carousel-button {
        display: flex;
        position: absolute;
        height: 10%;
        border: 0;
        color: white;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 10px;
        cursor: pointer;
        font-size: 1rem;
        flex-grow: 1;
        outline: none;
        padding: 10px;
        transition: all 0.1s ease-out;
    }

    .prev {
        top: 26.5%;
        left: 1px;
    }

    .next {
        top: 26.5%;
        right: 1px;
    }

    .carousel-controls-icon {
        text-align: center;
        padding: 6px 10px;
        background-color: var(--naranja);
        border-radius: 50px;
    }

    .carousel-controls-icon:hover {
        transition: all 0.1s;
        transform: scale(1.2);

    }

    .hide {
        display: none;
    }

    .carousel-thumbnails-container {
        height: 123px;
        display: flex;
        justify-content: center;

    }

    .carousel-thumbnail {
        width: 148px;
        height: 91px;
        margin: 0px 3px 0px 3px;
        border-radius: 20px;
        cursor: pointer;
    }

    .carousel-thumbnail:hover {
        border: 4px;
        border-color: #f0572d77;
        border-style: solid;
        transform: scale(1.1);
        transition: all 0.1s ease-out;
    }

    .thumbnail-non-active {
        transform: scale(1);
        transition: all 0.8s ease-out;
    }

    .thumbnail-active {
        border: 5px;
        border-color: #f0572d77;
        border-style: solid;

    }

    .product-close-carousel {
        display: flex;
        position: absolute;
        color: white;
        top: 1px;
        right: 1px;
        padding: 15px;
        cursor: pointer;
        text-shadow: black 1px 1px 7px;
        z-index: 3;
        font-size: 20px;
    }

    .product-close-carousel:hover {
        transform: scale(1.05);
        transition: all 0.2s;
    }

}